.row-fluid
  .span3
    -if current_user
      .friends.well
        -@friends.each do |friend|
          .media.friend{:id => friend.id}

            = link_to image_tag(@graph.get_picture(friend.uid), :class => "img-rounded media-object pull-left") ,friend, :class => "pull-left"
            .media-body
              %h5.media-heading= link_to friend.name, friend
              .occupying
                -if friend.room
                  %address is studying in #{friend.room.name}
                -else 
                  %address isn't studying right now.
      
  .span9
    .room-search
      =render :partial => "rooms/search"
    %table.table
      %thead.sortable
        %th= sortable "room_number"
        %th= sortable "name", "Room Name"
        %th Description
        %th= sortable "occupied", "Current Status"
      %tbody
      -for each in @rooms
        - if each.occupied
          %tr.error
            %td=each.room_number
            %td=each.name
            %td=each.description
            -if each.occupied
              %td Occupied
            -else
              %td Available
        -else
          %tr.success
            %td=each.room_number
            %td=each.name
            %td=each.description
            -if each.occupied
              %td Occupied
            -else
              %td Available
    =will_paginate @rooms
    -#
      .location
        %p#demo Coordinates:
      .rooms
        -for room in @rooms
          = render :partial => 'rooms/room', :locals => {:room => room}
        
    %br
    .hidden-phone=gmaps("map_options" => { "detect_location" => true, "bounds" =>'[{"lat":42.36311,"lng":-71.110425},{"lat":42.350711,"lng":-71.076908}]'},"markers" => { "data" => @json })

