= hidden_field_tag :order, order
= hidden_field_tag :sort, sort
= hidden_field_tag :projector_available, projector
= hidden_field_tag :whiteboard_available, whiteboard
-if page
  = hidden_field_tag :page, page
%table.table.table-hover
  %thead.sortable
    %th= sortable "room_number"
    %th= sortable "name", "Room Name"
    %th Description
    %th= sortable "occupied", "Current Status"
  %tbody
  -for each in rooms
    - if each.occupied
      %tr.error.occupied-color{:id => each.id}
        %td=each.room_number
        %td=each.name
        %td=each.description
        %td.occupied-text Unavailable
    -else
      %tr.success.occupied-color{:id => each.id}
        %td=each.room_number
        %td=each.name
        %td=each.description
        %td.occupied-text Available

%ul.inline.rooms-options
  -if params[:projector_available] == "true"
    %li
      %i.icon-check
      = link_to "Show only rooms with Projectors", params.merge(:projector_available => false, :sort => params[:sort])
  -else
    %li
      %i.icon-check-empty
      = link_to "Show only rooms with projectors", params.merge(:projector_available => true, :sort => params[:sort])
  -if params[:whiteboard_available] == "true"
    %li
      %i.icon-check
      = link_to "Show only rooms with whiteboards", params.merge(:whiteboard_available => false)
  -else
    %li
      %i.icon-check-empty
      = link_to "Show only rooms with whiteboards", params.merge(:whiteboard_available => true)

