%h4= @room.name
%h5= @room.room_number
- if @room.projector_available
  %h6= Whiteboard Avaialble

.action.btn-large
  -if current_user.room == @room
    =link_to " Check room in", room_checkout_path(@room), :class => 'btn-large btn-danger icon-pencil checkout'#, :method => "PUT"
  -else
    =link_to "Check out room", room_checkout_path(@room), :class => "btn-large btn-success icon-pencil checkout"#, :method => "PUT
    


.occupants
  -if @room.occupied
    %h5 Currently in use by:
    .row
      -@room.users.each do |user|
        .user.btn-large.span2
          - if current_user == user
            .icon-group.green-icon.pull-left
            You
          - else
            .icon-group.green-icon.pull-left= user.name
            %br
            %h6.i= user.email







