!!!
%html
  %head
    = favicon_link_tag
    %title MITspaces
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :scripts
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
  %body
    .container
      .navbar
        .navbar-inner
          = link_to "MITspaces", root_path, {:class => "brand"}
          %ul.nav
            -if current_user
              %li
                = link_to current_user.name, current_user, :id => current_user.id, :class => 'user'
              %li
                = link_to "Sign out", signout_path, :id =>  "sign_out"
            -else
              %li
                = link_to image_tag("small-facebook-icon.png") + " Sign in with Facebook", "/auth/facebook", :id => "sign_in"
      -if flash[:notice]
        .alert.alert-success
          =flash[:notice]
      -if flash[:error]
        .alert.alert-error
          =flash[:error]
      = yield


